<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">CASOS</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-10"></div>
      <div class="col-2">
        <a mat-flat-button class="blue" href="https://front-estudiojuridico.vercel.app/ui-components/registrar">+ Nuevo Caso</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar...">
        </mat-form-field>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id" >
              <th mat-header-cell *matHeaderCellDef > ID </th>
              <td mat-cell *matCellDef="let caso"> {{caso.id}} </td>
            </ng-container>
            <!-- Tipo Column -->
            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef > Tipo </th>
              <td mat-cell *matCellDef="let caso"> {{caso.tipo}} </td>
            </ng-container>
            <!-- Estado Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let caso"> {{caso.estado}} </td>
            </ng-container>
            <!-- fecha_inicio Column -->
            <ng-container matColumnDef="fecha_inicio">
              <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
              <td mat-cell *matCellDef="let caso"> {{caso.fecha_inicio | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <!-- fecha_cierre Column -->
            <ng-container matColumnDef="fecha_cierre">
              <th mat-header-cell *matHeaderCellDef> Fecha de cierre </th>
              <td mat-cell *matCellDef="let caso"> {{caso.fecha_cierre | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <!-- Descripcion Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let caso"> {{caso.descripcion}} </td>
            </ng-container>
            <!-- Cliente Column -->
            <ng-container matColumnDef="cliente">
              <th mat-header-cell *matHeaderCellDef> Cliente </th>
              <td mat-cell *matCellDef="let caso"> {{caso.cliente.nombre}} </td>
            </ng-container>
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let caso">
                <a mat-flat-button class="blue" [href]="'https://front-estudiojuridico.vercel.app/ui-components/casosjuridicos/editar/' + caso.id"><img src="../../../../assets/images//svgs/edit_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt=""></a><br><br>
                <a mat-flat-button class="red" [href]="'https://front-estudiojuridico.vercel.app/ui-components/casosjuridicos/eliminar/' + caso.id"><img src="../../../../assets/images/svgs/delete_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt=""></a><br><br>
                <a mat-flat-button class="red" [href]="'https://front-estudiojuridico.vercel.app/ui-components/casosjuridicos/caso/' + caso.id"><i class="fas fa-eye"></i></a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="8">No hay datos que coincidan con el filtro "{{dataSource.filter}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
